<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current Rent</title>
    <script>
        var startTime, elapsedTime = 0, intervalId;
        
        function startTimer() {
            startTime = Date.now() - elapsedTime;
            intervalId = setInterval(function() {
                elapsedTime = Date.now() - startTime;
                document.getElementById("timer").innerHTML = (elapsedTime / 1000).toFixed(2);
            }, 10);
        }
        
        function stopTimer() {
            clearInterval(intervalId);
            var timeValue = (elapsedTime / 1000).toFixed(2);
            fetch('/stopwatch', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ time: timeValue })
            })
            .then(function(response) {
                return response.json();
            })
            .then(function(data) {
                console.log(data.time);
            })
            .catch(function(error) {
                console.error(error);
            });
        }
    </script>
</head>
<body>
    <p>{{ bike.model }} (ID: {{ bike.id }})</p>
</body>
</html>