<!DOCTYPE html>
<html>
<head>
    <title>Renta de bicicletas</title>
    <link rel="stylesheet" type="text/css" href="/static/diseño.css">
</head>
<body>
    <div class="container">
        {% if username %}
            <h1>Bienvenido, {{ username }}!</h1>
            <p><a href="/users/{{ username }}">Ver perfil</a></p>
            {% if username == "admin" %}
            <p><a href="/users">Lista de Usuarios</a></p>
            {% endif %}
            <p><a href="{{ url_for('logout') }}">Cerrar sesión</a></p>
        {% else %}
            <p>Por favor, inicie sesión o regístrese.</p>
            <p><a href="{{ url_for('login') }}">Iniciar sesión</a></p>
            <p><a href="{{ url_for('register') }}">Registrarse</a></p>
        {% endif %}
        <br>
        <h1>Precios</h1>
        <ul>
            <li>Hora inicial: $30</li>
            <li>Hora extra: $10</li>
        </ul>
        <br>
        <h1>Bicicletas Disponibles:</h1>
        <ul>
            {% for bike in bikes %}
                {% if bikes[bike].available %}
                <li>
                    <a href="/bike/{{ bike }}">ID:{{bike}}, Model:{{bikes[bike].model}}</a>
                    {% if session['username'] %}
                        {% if session['username'] not in rentals %}
                            <form action="/bike/{{ bike }}/rent" method="POST">
                                <button type="submit">Rentar</button>
                            </form>
                        {% endif %}
                    {% endif %}
                </li>
                {% endif %}
            {% endfor %}
        </ul>
        <br>
        {% if username == "admin" %}
            <a href="/rentals">Ver bicicletas rentadas</a>
        {% endif %}
    </div>
</body>
</html>
