<!DOCTYPE html>
<html>
<head>
	<title>Renta de bicicletas</title>
</head>
<body>
	{% if username %}
		<h1>Bienvenido, {{ username }}!</h1>
		<a href="{{ url_for('logout') }}">Cerrar sesión</a>
	{% else %}
		<p>Por favor, inicie sesión o regístrese.</p>
		<p><a href="{{ url_for('login') }}">Iniciar sesión</a></p>
		<p><a href="{{ url_for('register') }}">Registrarse</a></p>
	{% endif %}
    <br>
    <h1>Bicicletas Disponibles:</h1>
    <ul>
        {% for bike in bikes %}
        <li>
            <a href="/bike/{{ bike.id }}">{{ bike.model }}</a>
            {% if bike.available %}
            <form action="/bike/{{ bike.id }}/rent" method="POST">
                <button type="submit">Rent</button>
            </form>
            {% else %}
            <span>(Not available)</span>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</body>
</html>
