<!DOCTYPE html>
<html>
<head>
	<title>Renta de bicicletas</title>
</head>
<body>
	{% if username %}
		<h1>Bienvenido, {{ username }}!</h1>
        <p><a href="/users/{{ username }}">Ver perfil</a></p>
		<p><a href="{{ url_for('logout') }}">Cerrar sesión</a></p>
	{% else %}
		<p>Por favor, inicie sesión o regístrese.</p>
		<p><a href="{{ url_for('login') }}">Iniciar sesión</a></p>
		<p><a href="{{ url_for('register') }}">Registrarse</a></p>
	{% endif %}
    <br>
    <h1>Bicicletas Disponibles:</h1>
    <p><a href="">Rentar una bicicleta</a></p>
    <ul>
        {% for bike in bikes %}
            {% if bike.available %}
            <li>
                <a href="/bike/{{ bike.id }}">{{ bike.model }}</a>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
    <br>
    {% if username == "admin" %}
        <a href="/rentals">Ver bicicletas rentadas</a>
    {% endif %}
</body>
</html>
